{% extends "base.html" %}

{% block content %}
<main class="center-main">
    <h1>Cadastro</h1>
    <form action="" method="post">
        <div class="input-text-box-parent">
            <div>
                <label for="username">Usuário: </label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="password">Senha: </label>
                <input type="text" name="password" required>
            </div>
            <div>
                <label for="confirm-password">Confirmar senha: </label>
                <input type="text" name="confirm-password" required>
            </div>
            <div>
                <label for="profile-picture">Url para foto de perfil: </label>
                <input type="text" name="profile-picture">
            </div>
            <div>
                <label for="bio">Bio: </label>
                <textarea name="bio" placeholder="Breve descrição sobre si"></textarea>
            </div>
        </div>
        <div class="center-itens-box-parent">
            <div>
                <label for="remember">
                    <input type="checkbox" name="remember" id="remember">
                    lembrar de mim
                </label>
            </div>
            <div>
                <button type="submit">Cadastrar</button>
            </div>
        </div>
    </form>
</main>
{% endblock %}