{% extends "base.html" %}
{% block content %}
<main>
{% if user %}
    <h1>Bem vindo(a) de volta, {{ user.username }}!</h1>
    <section id="user-profile">
        <div id="profile-picture-box">
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture }}" alt="Foto de perfil do usuário">
            {% else %}
                <img src="https://i.pinimg.com/236x/a8/da/22/a8da222be70a71e7858bf752065d5cc3.jpg" alt="Foto de perfil do usuário">
            {% endif %}
        </div>
        <div id="profile-bio">
            {% if user.bio %}
                <p>{{ user.bio }}</p>
            {% else %}
                <p>Sem bio</p>
            {% endif %}
        </div>
    </section>
{% else %}
    <h1>Faça login para ter acesso aos recursos dessa página</h1>
{% endif %}
<hr>
<section id="posts">
    <div>
        <button id="new-post-button"><a href="/post">Escrever post</a></button>
    </div>

    <h2>Posts</h2>
    {% for post in posts %}
    <div class="post">
        <h3>autor: {{ post.author }}</h3>
        <p>{{ post.body }}</p>
    </div>
    {% endfor %}
</section>
</main>
{% endblock %}


