{% extends "base.html" %}

{% block content %}
<main class="center-main">
    <h1>Login</h1>
    <form action="" method="post">
        <div class="input-text-box-parent">
            <div>
                <label for="username">Usuário: </label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="password">Senha: </label>
                <input type="text" name="password" required>
            </div>
        </div>
        <div class="center-itens-box-parent">
            <div>
                <label for="remember">
                    <input type="checkbox" name="remember" id="remember">
                    lembrar de mim
                </label>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
</main>
{% endblock %}